/* 와이드 pc  */
.videoBox{width:100%;height:100%; overflow:hidden; position:absolute}
#videoBG {
   position:fixed; /*고정=>fixed/ 스크롤처리=>absolute */
   left:50%;
   top:50%; /*오른쪽, 아래에 여백을 두지않고 꽉차게 표시*/
   width:auto;
   min-width:100%; /*동영상 너비를 꽉차게*/
   height:auto;
   min-height:100%; /*동영상 높이를 꽉차게*/
  transform:translateX(-50%) translateY(-50%);
   z-index:-100; /*다른요소보다 아래에 위치*/
}

#imgBG{
	position:fixed; /*고정=>fixed/ 스크롤처리=>absolute */
   left:50%;
   top:50%; /*오른쪽, 아래에 여백을 두지않고 꽉차게 표시*/
   width:auto;
   min-width:100%; /*동영상 너비를 꽉차게*/
   height:auto;
   min-height:100%; /*동영상 높이를 꽉차게*/
  transform:translateX(-50%) translateY(-50%);
   z-index:-100;
   display:none
}
.down{display: block; position: absolute; 
	 left:50%; margin-left: -65px; bottom: 10%;
	animation:ani 1s infinite  alternate;
}
.down::before{
   content: 'SCROLL DOWN'; width: 130px; font-size: 1.03rem; text-align: center;
   left: 50%; transform: translateX(-50%); bottom: -23px;
   position: absolute;
   transition: all .4s ease-out;
   opacity: 0;
}
.down:hover::before{opacity: 1;}
@keyframes ani {
	0% { transform:scale(0.97);}
	100% { transform:scale(1);}
}	
	

#content{ width:100%; margin:0 auto; background:rgba(0,0,0,.8); }

#content .about{width: 90%; margin: 0 auto; padding-top: 80px;}
#content .about ul{
   width: 100%;
   display: grid;
   grid-template-columns: repeat(3,1fr);
   grid-template-rows: auto;
   gap: 20px;
   grid-template-areas: 
   'a b b'
   'a c d'
   'e f d'
   ;
}
#content .about ul li{overflow: hidden;}
#content .about ul li:nth-child(1){grid-area: a;}
#content .about ul li:nth-child(2){grid-area: b;}
#content .about ul li:nth-child(3){grid-area: c;}
#content .about ul li:nth-child(4){grid-area: d;}
#content .about ul li:nth-child(5){grid-area: e; 
   padding: 20px; text-align: justify; word-break: break-all;
   font-size: 1.25rem; font-weight: 200; line-height: 1.88em;
}
#content .about ul li:nth-child(6){grid-area: f;}

#content .about ul li img{width: 100%; height: 100%; object-fit: cover; object-position: center; transition: all .6s ease-out;}
#content .about ul li:hover img{transform: scale(1.07);}
        
#content .about ul li .about_t{padding: 20px;}
#content .about ul li .about_t div{
   display: flex; gap: 25px; align-items: center;
}
#content .about ul li .about_t div a{
   padding-top: 15px; font-size: 1.13rem;
   transition: all .3s ease-out;
}
#content .about ul li .about_t div a:hover{
   color: var(--font-color-main);
}
#content .about ul li strong{font-size: 3.44em; padding:25px 0 35px 0; display: block;}
#content .about ul li p{
   font-size: 1.25rem; font-weight: 350;
   line-height: 1.88em;
    text-align: justify; 
    word-break: break-all;
}

#content .palace{width: 90% ;margin: 0 auto; padding: 100px 0; text-align: center;}
#content .palace .palace_text{
   display: flex; justify-content: center; align-items: center; gap: 25px;
}
#content .palace .palace_text h3{
   font-size: 3.44em;
}
#content .palace .palace_text a{
   padding-top: 30px; font-size: 1.13rem;
   transition: all .3s ease-out;
}
#content .palace .palace_text a:hover{color: var(--font-color-main);}
#content .palace p{
   width: 60%; margin: 0 auto;
   padding-top: 30px; font-size: 1.25rem; font-weight: 350; line-height: 1.88rem;
   letter-spacing: 0.2px;
}
#content .palace p:nth-of-type(2){display: none;}
#content .palace .swiper-container{
   width: 75%; padding: 80px 0;
}    
#content .palace .swiper-slide {
   width: 550px;
   height: 450px;
   background-position: center; background-size: cover;
 }
#content .palace .swiper-container-horizontal>.swiper-pagination-bullets{bottom: 20px;}
#content .palace .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{margin: 0 5px;}
#content .palace .swiper-pagination-bullet{background: rgba(299,237,231);}
#content .palace .swiper-pagination-bullet-active{opacity: 1; background: var(--font-color-main);}
#content .palace #text{padding-top: 15px;}
#content .palace #text dt{font-weight: bold; font-size: 1.44rem; padding-bottom: 15px;}
#content .palace #text dd{font-weight: 300; font-size: 1.19rem; letter-spacing: 0.2px;}



#content .exhibition{width: 100%; margin: 0 auto;}
#content .exhibition .ex_inner{
   padding: 100px 0;
   background: url(../images/main/exhibition_bg.jpg)center;
   background-position: center;
}
#content .exhibition ul{
   width: 100%; padding: 0 80px;
   display: grid;
   grid-template-columns: repeat(6,1fr);
   grid-template-rows: auto;
   gap: 20px;
   grid-template-areas: 
   'a a a a b b'
   'c d e e b b'
   'c f e e g g'
   'h h j k k k'
   ;
}
#content .exhibition ul li{overflow: hidden;}
#content .exhibition ul li:nth-child(1){grid-area: a;}
#content .exhibition ul li:nth-child(2){grid-area: b;}
#content .exhibition ul li:nth-child(3){grid-area: c;}
#content .exhibition ul li:nth-child(4){grid-area: d;}
#content .exhibition ul li:nth-child(5){grid-area: e; 
   text-align: justify; word-break: break-all;
   position: relative;
}
#content .exhibition ul li:nth-child(6){grid-area: f;}
#content .exhibition ul li:nth-child(7){grid-area: g;}
#content .exhibition ul li:nth-child(8){grid-area: h;}
#content .exhibition ul li:nth-child(9){grid-area: j;}
#content .exhibition ul li:nth-child(9) img{object-position: 3% 0;}
#content .exhibition ul li:nth-child(10){grid-area: k;}

#content .exhibition ul li img{width: 100%; height: 100%; object-fit: cover; object-position: center; transition: all .6s ease-out;}
#content .exhibition ul li:hover img{transform: scale(1.07);}

#content .exhibition .t_box{padding: 20px 10px 20px 10px;}
#content .exhibition .t_box div{
   display: flex; gap: 25px; 
   padding: 80px 0 35px;
}
#content .exhibition strong{
   font-size: 3.44rem; display: block; align-items: center;
}
#content .exhibition .t_box div a{
   font-size: 1.13rem;
   transition: all .3s ease-out;
   position: absolute; top: 45px; right: 30px;
}
#content .exhibition .t_box div a:hover{color: var(--font-color-main);}
#content .exhibition p{
   font-size: 1.38rem; font-weight: 350;
   line-height: 1.88em;
   text-align: justify; 
   word-break: break-all;
   padding-right: 10px;
}


#content .hour{width: 90%; margin: 0 auto; padding: 100px 0;}
#content .hour .t_box{
   display: flex; gap: 25px; justify-content: center; align-items: center;
}
#content .hour .t_box h3{font-size: 3.44em;}
#content .hour .t_box a{
   padding-top: 30px; font-size: 1.13rem;
   transition: all .3s ease-out;
}
#content .hour .t_box a:hover{color: var(--font-color-main);}
#content .hour p{
   text-align: center; padding-top: 30px;
   font-size: 1.25rem; font-weight: 350; letter-spacing: 0.2px;
}
#content .hour .hour_inner{padding-top: 45px; }
#content .hour .hour_inner img{width: 100%; height: 100%; object-fit: cover; object-position: center;}
#content .hour .hour_inner strong{font-size: 2.50rem; font-style: italic; font-weight: 900; display: block;}
#content .hour .hour_inner dl dt{font-size: 1.88rem; font-weight: bold;}
#content .hour .hour_inner dl dd:nth-of-type(1){margin-top: 50px;}
#content .hour .hour_inner dl dd{margin-top: 45px; font-size: 1.44rem; font-weight: 350;}
#content .hour .hour_inner dl dd span{font-size: 1.13rem; font-weight: 100; opacity: .8; display: block;}

#content .hour .hour_inner .museum{
   display: grid;
   grid-template-columns: 1fr .9fr;
   grid-template-rows: auto;
   gap: 30px 50px;
   grid-template-areas: 
   'a a'
   'b c';
   padding-bottom: 150px;
}
#content .hour .hour_inner .museum div:nth-of-type(1){grid-area: a; margin-left: 140px;}
#content .hour .hour_inner .museum div:nth-of-type(2){grid-area: b; margin: 50px 0 0 140px; }
#content .hour .hour_inner .museum div:nth-of-type(3){grid-area: c;}

#content .hour .hour_inner .garden{
   display: grid;
   grid-template-columns: .9fr 1fr;
   grid-template-rows: auto;
   gap: 30px 50px;
   grid-template-areas: 
   'b b'
   'a c';
}
#content .hour .hour_inner .garden div:nth-of-type(1){grid-area: a;}
#content .hour .hour_inner .garden div:nth-of-type(2){grid-area: b; text-align: right; margin-right: 140px;}
#content .hour .hour_inner .garden div:nth-of-type(3){grid-area: c; text-align: right; margin: 50px 140px 0 0;}


#content .gallery{width: 90%; margin: 0 auto; padding: 100px 0 80px; text-align: center;}
#content .gallery .t_box{display: flex; gap: 25px; justify-content: center; align-items: center;}
#content .gallery .t_box h3{font-size: 3.44em;}
#content .gallery .t_box a{
   padding-top: 30px; font-size: 1.13rem;
   transition: all .3s ease-out;
}
#content .gallery .t_box a:hover{color: var(--font-color-main);}
#content .gallery p{padding-top: 30px; font-size: 1.25rem; font-weight: 350; letter-spacing: 0.2px;}
#content .gallery ul{
   padding-top: 80px;
   width: 100%;
   display: grid;
   grid-template-columns: repeat(4,1fr);
   grid-auto-rows: auto;
   gap: 20px;
   grid-template-areas: 
   'a a b c'
   'a a d e'
   'f g g e'
   ;
}
#content .gallery ul li{position: relative; overflow: hidden;}
#content .gallery ul li:nth-of-type(1){grid-area: a;}
#content .gallery ul li:nth-of-type(2){grid-area: b;}
#content .gallery ul li:nth-of-type(3){grid-area: c;}
#content .gallery ul li:nth-of-type(4){grid-area: d;}
#content .gallery ul li:nth-of-type(5){grid-area: e;}
#content .gallery ul li:nth-of-type(6){grid-area: f;}
#content .gallery ul li:nth-of-type(7){grid-area: g;}

#content .gallery ul li img{width: 100%; height: 100%; object-fit: cover; object-position: center; transition: all .4s ease-out;}
#content .gallery ul li:hover img{transform: scale(1.07);}
#content .gallery ul li span{
   display: block; position: absolute; bottom: -80px;
   width: 100%; background: rgba(0,0,0,.7);
   text-align: center; font-size: 1.25rem;
   padding: 25px 0; backdrop-filter: blur(3px);
   transition: all .4s ease-out;
}
#content .gallery ul li:hover span{bottom: 0;}
#content .gallery ul li span:hover{color: var(--font-color-main);}



/* 일반 pc */
@media screen and (max-width:1280px) {
   #content .about ul li strong{font-size: 3.13rem;}

   #content .palace .palace_text h3{font-size: 3.13rem;}
	#content .palace p{width: 90%;}

   #content .exhibition ul{
      gap: 15px; padding: 0 60px;
      grid-template-areas:
        'a a a a b b'
        'c e e e b b'
        'c e e e g g'
        'h h j k k k';
   }
   #content .exhibition .t_box{padding: 20px 20px 20px 35px;}
   #content .exhibition .t_box div{gap: 25px; padding: 50px 0 35px;}
   #content .exhibition .t_box div a{font-size: 1.13rem; top: 35px;}
   #content .exhibition strong{font-size: 3.13rem;}
   #content .exhibition ul li:nth-child(4){display: none;}
   #content .exhibition ul li:nth-child(6){display: none;}
 
   #content .hour .t_box h3{font-size: 3.13rem;}
   #content .hour .t_box a{padding-top: 27px;}
   #content .hour .hour_inner .museum{gap: 40px 50px;}
   #content .hour .hour_inner .museum div:nth-of-type(1){margin-left: 80px;}
   #content .hour .hour_inner .museum div:nth-of-type(2){margin-left: 80px;}
   #content .hour .hour_inner .garden{gap: 40px 50px;}
   #content .hour .hour_inner .garden div:nth-of-type(2){margin-right: 80px;}
   #content .hour .hour_inner .garden div:nth-of-type(3){margin-right: 80px;}
   #content .hour .hour_inner strong{font-size: 2.19rem;}

   #content .gallery .t_box h3{font-size: 3.13rem;}
   #content .gallery ul{gap: 15px;}
   #content .gallery p{width: 80%; margin: 0 auto;}
}

/* 테블릿 */
@media screen and (max-width:1024px) {
   .down{margin-left: -63px;}

	#content .about ul{
      gap: 15px;
      grid-template-areas:
        'a b b'
        'a c f'
        ;
   }
   #content .about ul li:nth-child(2) span{display: none;}
   #content .about ul li:nth-child(4){display: none;}
   #content .about ul li:nth-child(5){display: none;}
   #content .about ul li strong{font-size: 2.5rem;}
   #content .about ul li .about_t div a{font-size: 1rem; padding-top: 8px;}
   #content .about ul li p{line-height: 2.19rem;}

   #content .palace .palace_text h3{font-size: 2.5rem;}
   #content .palace .palace_text a{font-size: 1rem; padding-top: 20px;}
   #content .palace p{width: 80%; padding-top: 25px;}
   #content .palace .swiper-container{width: 80%; padding: 60px 0 80px;}
   #content .palace #text dt{font-size: 1.38rem; }
   #content .palace #text dd{font-size: 1.13rem;}

   #content .exhibition ul{
      grid-template-columns: repeat(4, 1fr);
      grid-template-areas:
        'a a a b'
        'c e e b'
        'c e e g'
        'j j k k';
      grid-template-rows: .5fr .5fr .5fr .5fr;
   }
   #content .exhibition ul li:nth-child(5) span{display: none;}
   #content .exhibition ul li:nth-child(8){display: none;}
   #content .exhibition .t_box{ padding: 20px;}
   #content .exhibition .t_box div{padding: 60px 0 40px 0;}
   #content .exhibition strong{font-size: 2.5rem; letter-spacing: 1.5px;}
   #content .exhibition .t_box div a{top: 35px; font-size: 1rem;}
   #content .exhibition p{font-size: 1.31rem;}

   #content .hour .t_box h3{font-size: 2.5rem;}
   #content .hour .t_box a{font-size: 1rem; padding-top: 20px;}
   #content .hour p{padding-top: 25px;}
   #content .hour .hour_inner strong{font-size: 1.88rem;}
   #content .hour .hour_inner dl dt{font-size: 1.56rem;}
   #content .hour .hour_inner dl dd{font-size: 1.31rem;}
   #content .hour .hour_inner dl dd span{font-size: 1.13rem;}
   #content .hour .hour_inner .museum{gap: 30px 50px; grid-template-columns: .7fr .9fr;}
   #content .hour .hour_inner .museum div:nth-of-type(1){margin-left: 0;}
   #content .hour .hour_inner .museum div:nth-of-type(2){margin-left: 0;}
   #content .hour .hour_inner .garden{gap: 30px 50px; grid-template-columns: .9fr .7fr;}
   #content .hour .hour_inner .garden div:nth-of-type(2){margin-right: 0;}
   #content .hour .hour_inner .garden div:nth-of-type(2) span{display: none;}
   #content .hour .hour_inner .garden div:nth-of-type(3){margin-right: 0;}
   
   #content .gallery .t_box h3{font-size: 2.5rem;}
   #content .gallery .t_box a{font-size: 1rem; padding-top: 20px;}
   #content .gallery p{padding-top: 25px;}
   #content .gallery ul{
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas:
        'a a b'
        'a a e'
        'c d e'
        'g g g'
        ;
      padding-top: 60px;
   }
   #content .gallery ul li:nth-of-type(6){display: none;}
}

/* 소형 테블릿 */
@media screen and (max-width:768px) {
   #content .about{width: 93%;}
   #content .about ul li strong{font-size: 2.19rem;}
   #content .about ul li .about_t div a{padding-top: 5px;}
   #content .about ul li p{font-size: 1.13rem;}

   #content .palace{width: 100%; padding: 80px 0;}
   #content .palace .palace_text h3{font-size: 2.19rem;}
   #content .palace .palace_text a{padding-top: 17px;}
   #content .palace p:nth-of-type(1){display: none;}
   #content .palace p:nth-of-type(2){display: block; font-size: 1.13rem;}
   #content .palace .swiper-container{width: 85%;}

   #content .exhibition .ex_inner{padding: 80px 0;}
   #content .exhibition ul{ padding: 0 40px; grid-template-rows: .55fr .5fr .5fr .5fr;}
   #content .exhibition .t_box{padding: 20px 10px;}
   #content .exhibition .t_box div{padding: 20px 0;}
   #content .exhibition strong{font-size: 2.19rem;}
   #content .exhibition .t_box div a{top: 10px; right: 20px;}
   #content .exhibition p{font-size: 1.13rem; padding: 0;}
   #content .exhibition p span{display: none;}

   #content .hour{width: 93%; padding: 80px 0;}
   #content .hour .hour_inner .museum{
      padding-bottom: 0;
      grid-template-columns: .7fr .65fr;
      gap: 30px 40px;
   }
   #content .hour .hour_inner .garden{display: none;}
   #content .hour .t_box h3{font-size: 2.19rem;}
   #content .hour .t_box a{padding-top: 15px;}
   #content .hour p{font-size: 1.13rem;}    
   #content .hour .hour_inner dl dd span{font-size: 1rem;}

   #content .gallery{width: 93%; padding: 80px 0 80px;}
   #content .gallery .t_box h3{font-size: 2.19rem;}
   #content .gallery .t_box a{padding-top: 17px;}
   #content .gallery p{font-size: 1.13rem;}
   #content .gallery ul{
      grid-template-areas:
        'a b b'
        'a d e'
        'g g e';
   }
   #content .gallery ul li:nth-of-type(3){display: none;}
   #content .gallery ul li:nth-of-type(6){display: none;}
   #content .gallery ul li span{ position: absolute; bottom: 0px; padding: 15px 0; font-size: 1.13rem;}
}

/* 모바일 */
@media screen and (max-width:640px) {
   #content .about ul{
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas: 
      'b b'
      'c f';
   }
   #content .about ul li:nth-child(1){display: none;}
   #content .about ul li .about_t{padding: 0 20px;}
   #content .about ul li strong{font-size: 1.88rem; padding-bottom: 20px;}
   #content .about ul li p{line-height: 1.88rem; font-size: 1rem;}
   #content .about ul li .about_t div a{font-size: 0.88rem; padding-top: 15px;}

   #content .palace .palace_text h3{font-size: 1.88rem;}
   #content .palace .palace_text a{font-size: 0.88rem;}
   #content .palace p:nth-of-type(2){font-size: 1rem; line-height: 1.88rem; padding-top: 20px;}
   #content .palace .swiper-container{padding: 40px 0 80px;}
   #content .palace #text dt{font-size: 1.13rem;}
   #content .palace #text dd{font-size: 0.88rem;}

   #content .exhibition ul{
      padding: 0 20px;
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas:
        'e e b'
        'e e b'
        'j j k';
        grid-template-rows: .55fr .5fr .55fr;
   }
   #content .exhibition ul li:nth-child(1){display: none;}
   #content .exhibition ul li:nth-child(3){display: none;}
   #content .exhibition ul li:nth-child(7){display: none;}
   #content .exhibition strong{font-size: 1.88rem;}
   #content .exhibition p{font-size: 1rem;}
   #content .exhibition .t_box div a{font-size: 0.88rem;}
   
   #content .hour .t_box h3{font-size: 1.88rem;}
   #content .hour .t_box a{font-size: 0.88rem;}
   #content .hour p{font-size: 1rem; padding-top: 20px;}
   #content .hour .hour_inne{padding-top: 40px;}
   #content .hour .hour_inner .museum{
      grid-template-columns: 1fr ;
      grid-template-areas:
        'c'
        'a'
        'b';
      gap: 30px 0; width: 90%; margin: 0 auto;
   }
   #content .hour .hour_inner strong{text-align: center; font-size: 1.56rem;}
   #content .hour .hour_inner .museum div:nth-of-type(2){margin: 10px auto 0;}
   #content .hour .hour_inner dl dt{font-size: 1.39rem;}
   #content .hour .hour_inner dl dd{margin-top: 35px; font-size: 1.13rem;}
   #content .hour .hour_inner dl dd:nth-of-type(1){margin-top: 35px;}

   #content .gallery{padding: 50px 0;}
   #content .gallery .t_box h3{font-size: 1.88rem;}
   #content .gallery .t_box a{font-size: 0.88rem;}
   #content .gallery p{font-size: 1rem; padding-top: 20px;}
   #content .gallery ul{
      grid-template-areas:
        'b b b'
        'a d g';
   }
   #content .gallery ul li:nth-of-type(5){display: none;}
   #content .gallery ul li span{font-size: 1rem; padding: 10px;}
}
@media screen and (max-width:480px){
   #content .gallery p{width: 90%;}
   #content .gallery ul li span{font-size: .88rem; padding: 7px;}
}


